body {
    padding: 20px;
}

.row {
    min-height: 700px;
}

.footer {
    text-align: center;
}

#logo {
    color: #007bff;
}

#FlightPlannerBody {
    padding: 20px;
    background-color: blanchedalmond;
}


#map {
    height: 600px;
    width: 100%;
}

