@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");

/* General layout and text formatting*/
body {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 20px;
}

.subtleHeading {
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-default {
  border-color: #ccc;
}

code {
  font-style: normal;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.codeblock {
  width: 60%;
  margin: auto;
}

.note {
  font-style: italic;
}
